################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/socket/.vs/socket/v15/Browse.VC.opendb
